{% extends 'blog/base.html' %}


{% block content %}
<div class="jumbotron">
  <h2>PLEASE LOGIN:</h2>
  <h3>(Must be Superuser, Please check with the site admin)</h3>

  {% if form.errors %}
    <p>Your username and password dosen't match</p>
  {% endif %}

  <form class="" action="{% url 'login'%}" method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" class='btn btn-primary' name="" value="login">
    <input type="hidden" name="next" value="{{next}}">
  </form>

</div>
{% endblock %}
